<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="height: 150px; min-width: 250px; left: 35px; margin-bottom: 10px;">
	<% data = stock.brief["table"] %>
	<% data = stock.brief["table"] unless data %>

	<%= link_to stock.symbol, stock, class: 'dashboard-watchlist-symbol' %>
	<p class='dashboard-watchlist-close'><%= data["close"].to_f.round(2) %></p>
	
	<% change = data["change_and_percent_change"].split[0].to_f.round(2) %>
	<% percent = data["change_and_percent_change"].split[2].to_f.round(2) %>
	<% market = data["market"] %>
	<% if change.to_f > 0 %>
	<% color_id = ENV['COLOR_UP'] %>
	<% elsif change.to_f == 0 %>
	<% color_id = "black;" %>
	<% else %>
	<% color_id = ENV['COLOR_DOWN'] %>
	<% end %>
	<p class="dashboard-watchlist-change" style="color: <%= color_id %>; margin-top: -2px"><%= change.to_f.round(2) %> (<%= percent.to_f.round(2) %>%)</p>

	<% if user_signed_in? %>
	<% @watching = Watching.find_by(user_id: current_user.id, stock_id: stock) %>
	<% end %>
	<% if @watching %>
	<div class="btn-group">
		<button class="btn btn-default btn-sm dropdown-toggle
		<% case @watching.attitude %>
		<% when -1 %>
		btn-danger
		<% when 0 %>
		<% when 1 %>
		btn-success
		<% end %>
		" type="button" data-toggle="dropdown" aria-expanded="false" id="dashboard-watchlist-attitude">
		<% case @watching.attitude %>
		<% when -1 %>
		DOWN
		<% when 0 %>
		NEUTRAL
		<% when 1 %>
		UP
		<% end %>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" style="margin-left: 150px; margin-top: 125px;">

		<% case @watching.attitude %>
		<% when -1 %>
		<li><%= link_to "UP", controller: "stocks", action: "up", id: @watching %></li>
		<li><%= link_to "NEUTRAL", controller: "stocks", action: "neutral", id: @watching %></li>
		<li><%= link_to "UNWATCH", unwatch_path(:id => data["id"]), method: :post, style: "color: red;" %></li>
		<% when 0 %>
		<li><%= link_to "UP", controller: "stocks", action: "up", id: @watching %></li>
		<li><%= link_to "DOWN", controller: "stocks", action: "down", id: @watching %></li>
		<li><%= link_to "UNWATCH", unwatch_path(:id => data["id"]), method: :post, style: "color: red;" %></li>
		<% when 1 %>
		<li><%= link_to "DOWN", controller: "stocks", action: "down", id: @watching %></li>
		<li><%= link_to "NEUTRAL", controller: "stocks", action: "neutral", id: @watching %></li>
		<li><%= link_to "UNWATCH", unwatch_path(:id => data["id"]), method: :post, style: "color: red;" %></li>
		<% end %>

	</ul>
</div>
<% else %>
<div class="btn-group">
		<button class="btn btn-default btn-sm dropdown-toggle" id="dashboard-watchlist-attitude">
			<%= link_to "Add", watch_path(:id => data["id"]), method: :post %>
		</button>
</div>
<% end %>
	<% total = data["up"] + data["neutral"] + data["down"] %>
	<div class="progress" id="dashboard-watchlist-distribution">
		<div class="progress-bar progress-bar-success progress-bar-striped" style="width: <%= data["up"].to_f / total * 100 %>%">
			<span class="sr-only"><%= data["up"].to_f / total * 100 %>% UP</span>
		</div>
		<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= data["neutral"].to_f / total * 100 %>%">
			<span class="sr-only"><%= data["neutral"].to_f / total * 100 %>% Neutral</span>
		</div>
		<div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= data["down"].to_f / total * 100 %>%">
			<span class="sr-only"><%= data["down"].to_f / total * 100 %>% DOWN</span>
		</div>
	</div>
	<div id="dashboard-watchlist-distribution-number">
		<p style="color: black;">Distribution: </p><b style="color: #5cb85c"><%= data["up"] %></b><b style="color: <%= ENV['COLOR_UP'] %>;"> : </b><b style="color: #f0ad4e"><%= data["neutral"] %></b><b style="color: <%= ENV['COLOR_NEUTRAL'] %>;"> : </b><b style="color: <%= ENV['COLOR_DOWN'] %>;"><%= data["down"] %></b>
	</div>
</div>