<p>Hello! <%= current_user.email %></p>
<%= button_to "Logout", destroy_user_session_path, :method => :delete, :id => 'styled-button' %>        
<p>Prophesees than happened: <%= current_user.good_count %></p>
<p>Total prophesees: <%= current_user.total_count %></p>
<p>Accuracy: <%= current_user.accuracy %></p>
 