<% tab "index" %>
<div class="row" style="height: 5000px;">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" style="height: 545px;">
		<p style="position: absolute; font-size: 35px; font-weight: 700; color: white; left: 50%; margin-top: 90px; cursor: default;">Prophesee</p>
		<p style="position: absolute; font-size: 40px; font-weight: 100; color: white; left: 37.5%; margin-top: 150px; font-family: Josefin Sans; cursor: default;">Show your market insight<p>
		<%= form_tag("/switch_sign_up", method: "get", remote: true) do %>
			<%= submit_tag "How It Works", :id => 'index-left-button' %>
		<% end %>
		<%= form_tag("/switch_sign_up", method: "get", remote: true) do %>
			<%= submit_tag "Join Alpha Test", :id => 'index-right-button' %>
		<% end %>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" style= "display: none; height: 545px;" id="show_sign">
		<div id="sign-in-up" style="padding-top: 30px;"><%= render 'devise/registrations/new' %></div>
	</div>
	<div class="container" style="position: absolute; top: 615px; height: 500px; padding: 15px;">
		<div class="text-center" id="index-intro-box">
			<p id="index-intro-text">Learning about investing is never easier.</p>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h6 class="text-center" id="index-intro-text-1">CASE STUDY</h6>

			<p>Learn from experienced investor.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h6 class="text-center" id="index-intro-text-1">PREDICTION</h6>
			<p>Predict the market with your investor's insight.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h6 class="text-center" id="index-intro-text-1">SOCIAL</h6>
			<p>Grow in ranking and share your achievement.</p>
			</div>
		</div>
	</div>
</div>

