<!DOCTYPE html>
<html>
<head>
	<title>Prophesee</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>

	<div class="container">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#">Prophesee</a>
			</div>
		</nav>

		<div class="total-container">

		<%= render 'layouts/messages' %>

		<%= yield %>
	</div>
	</div>
</body>
</html>